<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {# <link rel="stylesheet" href="template_css.css"> #}
    <style>
      {% include 'template_css.css' %}
    </style>
</head>
<body>
  <pre>
  {% macro color_type(color) %}
  {%- if color == "Green" %}
  <div class='callout_questao'>
    <h2>Questão</h2>
    <hr/>
  {%- elif color == 'Orange' %}
  <div class='callout_exemplo'>
    <h2>Exemplo</h2>
    <hr/>

  {%- elif color == 'Red' %}
  <div class='callout_atencao'>
    <h2>Atenção</h2>
    <hr/>

  {%- endif -%}
  {% endmacro %}
  {% set anterior = namespace('') %}
  {% set anterior.content = highlights[0].content %}
  </pre>
  <article>
  {%- for annot in highlights|sort(attribute='page', reverse = True) %}
    {%- if annot.content -%}
    {%- if  annot.text -%}
    <p>{{annot.type}} - {{annot.content}}</p>
    <li>{{annot.text}}</li>
    {%- else -%}
    <p>{{annot.type}} - {{annot.content}}</p>
    {%- endif -%}
    {% else %}
    {%- if  annot.text -%}
    <li>{{annot.type}} - {{annot.text}}</li>
    {%- else -%}
    {%- endif -%}
    {%- endif -%}

  {% endfor -%}'


</article>

</body>
</html>
